################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrudGenerator/obj/Debug
/CrudGenerator/bin/Debug
/DTO/bin/Debug
/DTO/obj/Debug
/DAL/obj/Debug
/DAL/bin/Debug
/CrudCoreSystem/obj/Debug
/CrudCoreSystem/bin/Debug
